*{
    margin: 0;
    padding: 0;
}

/* Hero Section */
.main{
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 240px;
}

.hero{
    display: flex;
    gap: 100px;
}

.column1{
    margin: 197px 0px 0px 0px;
}

.column1 h1{
    color: #272727;
    font-family: Lato;
    font-size: 80px; 
    font-weight: 800;
    margin-bottom: 32px;
}

.column1 p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.column1 button{
    border: 0px;
    border-radius: 10px;
    padding: 20px 43px;
    background-color: #e55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px ;
}

.hero-img{
    width: 635px;
    height: 800px;
    margin: 50px 0px 0px 0px;
}


/* Features Flowers */
.title{
    margin-top: 178px;   
}
.title h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.title p{
    width: 594px;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

                /* Flowers */
.flowers-card{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 200px;
}
.flower1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
  
}
.flower1 img{
    width: 310px;
    height: 428px;
    margin: 110px 78px 67px 76px ;
}
.flower2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);;  
}
.flower2 img{
    width: 370px;
    height: 370px;
    margin: 117px 47px 118px ;
}  
.flower3{      
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);  
}
.flower3 img{
    width: 314px;
    height: 471px;
    margin: 67px 75px;
}

.support{
    width: 1440px;
    height: 320px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.support div{
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.support div img{
    width: 88px;
    height: 88px;
}

            /* Deals Section */

.deals{
    /* width: 1922px; */
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 215px;
}

.deal1{
    margin: 230px 0px 162px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deal2{
    margin: 100px 0px;
}
.deals div h2{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.deals div p{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
}
.deals div button{
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

        /* Instagram */
.instagram h2{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 24px;
}

.instagram p{
    width: 594px;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 48px;
}

.insta-image{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 128px;
} 

.insta-image img{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}    